// COMMON

body,
.v-application {
  background: #f6f6f6 !important;
}

@media (max-width: 1279px) {
  .v-main > .v-application > .v-application__wrap {
    min-height: 0 !important;
  }
}

@media (min-width: 1280px) {
  .v-navigation-drawer {
    transition: none !important;
  }
}

@media only screen and (max-width: 599px) {
  .v-dialog > .v-overlay__content {
    width: calc(100% - 32px) !important;
  }

  .section-filters .v-input {
    width: 100% !important;
  }
}

// PAGE REPORTS

.button-pay {
  @media only screen and (min-width: 600px) {
    margin-top: 30px;
  }

  @media only screen and (max-width: 599px) {
    margin-top: 0;
  }
}

// PAGE SETTINGS

.form-settings .v-input {
  @media only screen and (max-width: 599px) {
    width: 100% !important;
  }
}

// MODALS

.form-dialog .v-input {
  @media only screen and (max-width: 599px) {
    width: 100% !important;
  }
}
